* {
  padding: 0;
  margin: 0;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}


.map{
  width: 100%;
  position: fixed;
  height: 100%;
  z-index: 1000;
}